@model Admin

<section id="contact" class="contact">
    <p>mail or password is wrong</p>
    <div class="container">

        <div class="row mt-5">
            <div class="col-lg-6">
                <form asp-action="CheckLogin" method="post">
                    <div class="col form-group mt-3">
                        <input type="email" class="form-control" asp-for="mail" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validate"></div>
                    </div>
                    <div class="col form-group mt-3">
                        <input type="password" class="form-control" asp-for="password" placeholder="Your password" data-rule="password" data-msg="Please enter a valid password" />
                        <div class="validate"></div>
                    </div>
                    <div class="text-center"><button type="submit">Log in</button></div>
                </form>
            </div>

        </div>

    </div>
</section>