<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6" data-aos="fade-right">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>@item.title</h3>
                    <p>
                        @item.topic
                    </p>
                    <div class="text-center">
                        <form asp-action="edite" method="post">
                            <button type="submit" name="id" value="@item.ID">ِUpdate</button>
                        </form>
                    </div>
                </div>

            }
        </div>

    </div>
</section>
